:root {
    --color01: #ffffff;
    --color01_01: #ffffff81;
    --color02: #073447;
    --color03: #6dd1ad;
    --color03_01: #6dd1acc7;
    --color04: #c5ffe9;
    --color05: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 200vh;
}

content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NavBar */
.navBar {
    background-color: #073447;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;

    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}


.logo,
.linksNavBar {
    text-decoration: none;
    color: var(--color01);
    transition: all .2s ease-in-out;
}

.linksNavBar:hover {
    text-decoration: none;
    color: var(--color01_01);
}

.navBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1400px;
    color: var(--color01);
}


.navBarContent a {
    font-size: 1.6rem;
}

.navBarContent ul {
    display: flex;
    gap: 40px;
}

.navBarContent ul li {
    list-style: none;
}

.contact {
    text-decoration: none;
    background-color: var(--color03);
    padding: 10px 20px;
    border-radius: 50px;
    color: var(--color05);
    transition: all .2s ease-in-out;
}

.contact:hover {
    background-color: var(--color03_01);
}

/* NavBar END */

/* Scroll ballon */
.scrollBallon {
    position: fixed;
    bottom: 130px;
    right: 35px;
    background-color: var(--color02);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 12px 13px 14px 13px;
    
    transition: all .2s ease-in-out;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 22px solid var(--color03);
}

.scrollBallon:hover {
    scale: 1.05;
}
/* Scroll ballon END*/

/* WhatsApp Ballon */
.whatsAppBalloon {
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: var(--color03);
    padding: 10px;
    border-radius: 50% 50% 50% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    -webkit-box-shadow: 0px 25px 33px -15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 25px 33px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 25px 33px -15px rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in-out;
}

.whatsAppBalloon:hover{
    scale: 1.05;
}
/* WhatsApp Ballon END*/

/* main */
main{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* greetings Section */
.greetingsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* greetings Section END*/
/* main END*/