:root {
  --color01: #ffffff;
  --color02: #073447;
  --color03: #6dd1ad;
  --color03_01: #6dd1acc7;
  --color04: #c5ffe9;
  --color05: #03b093;
  --color06: #c4ffea;
  --generalWidth: 1440px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ffffff00;
}

body::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 4px;
  border: 2px solid var(--color01);
  /* border-right: 0; */
}

/* NavBar */
.navBar {
  background-color: var(--color01);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.3s linear;
}

nav.scroll {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.navBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  color: var(--color01);
  margin: 0 5%;
}

.navBarContent a {
  font-size: 1.6rem;
}

.logo,
.linksNavBar {
  text-decoration: none;
  color: var(--color02);
  transition: all 0.2s ease-in-out;
}

.linksNavBar:hover {
  text-decoration: none;
  color: var(--color02);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.buttonContact {
  text-decoration: none;
  background-color: var(--color03);
  border-radius: 50px;
  padding: 10px 20px;
  color: var(--color01);
  transition: all 0.2s ease-in-out;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.buttonContact:hover,
.contact:hover {
  background-color: var(--color03_01);
}

/* NavBar END */

/* Scroll ballon */
.scrollBallon {
  position: fixed;
  bottom: 130px;
  right: 30px;
  background-color: var(--color02);
  border: 3px solid var(--color03);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 12px 13px 14px 13px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
  transition: all 0.2s ease-in-out;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 22px solid var(--color03);
  margin-bottom: 2px;
}

.scrollBallon:hover {
  scale: 1.05;
}

/* Scroll ballon END*/

/* WhatsApp Ballon */
.whatsAppBalloon {
  position: fixed;
  right: 20px;
  bottom: 30px;
  background-color: var(--color02);
  padding: 10px;
  border-radius: 50% 50% 50% 20%;
  border: 3px solid var(--color03);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1999;

  -webkit-box-shadow: 0px 25px 33px -15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 25px 33px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 25px 33px -15px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.whatsAppBalloon:hover {
  scale: 1.05;
  border: 3px solid var(--color02);
  background-color: var(--color03);
}

/* WhatsApp Ballon END*/

/* main */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* greetings Section */
.greetingsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 660px;
  width: 100%;

  background-image: url("../../images/others/Wallpaper.jpg");
  background-size: cover;
}

.contentGreetings {
  width: var(--generalWidth);
  z-index: 1;
  margin: 0 5%;
}

.initialGreetings {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 70%;
}

.initialGreetings h1 {
  font-size: 4rem;
  color: var(--color02);
  line-height: normal;
  font-weight: 600;
  margin-bottom: 30px;
}

.initialGreetings p {
  font-size: 1.8rem;
  color: var(--color02);
  margin-bottom: 30px;
  width: 70%;
}

.greetingImg {
  width: 700px;
}

.greetingsButtons {
  display: flex;
  gap: 10px;
}

.gradiente {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(196, 255, 234);
  background: linear-gradient(
    90deg,
    rgba(196, 255, 234, 1) 0%,
    rgba(196, 255, 234, 1) 20%,
    rgba(196, 255, 234, 0) 80%,
    rgba(196, 255, 234, 0) 100%
    );
  }
  
  /* greetings Section END*/
  
  /* Cards */
.cards {
  display: flex;
  justify-content: center;
  background-color: var(--color01);
  width: 100%;
  z-index: 30;
}

.cardsContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 30px 0;
}

.card {
  position: relative;
  top: -60%;
  width: 290px;
  height: 230px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
  border-radius: 20px;
  color: var(--color02);
  background-color: var(--color01);
  
  -webkit-box-shadow: 6px 6px 32px 0px #00000038;
  -moz-box-shadow: 6px 6px 32px 0px #00000038;
  box-shadow: 6px 6px 32px 0px #00000038;
}

.cardImg {
  width: 80px;
}

.card h4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 5px;
}

.card p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
}

.containerDeConteudo {
  width: 1000px;
  height: 561px;
  border-radius: 20px;
  padding: 60px;
  background-color: var(--color01);
  
  -webkit-box-shadow: 6px 6px 32px 0px #00000038;
  -moz-box-shadow: 6px 6px 32px 0px #00000038;
  box-shadow: 6px 6px 32px 0px #00000038;
}

.containerDeConteudo h2{
  font-size: 4.8rem;
  color: var(--color02);
  font-weight: 600;
  text-align: center;
}

.contentCards {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--generalWidth);
}
/* Cards END */


/* Services */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: var(--generalWidth);
  padding: 30px;
  gap: 100px;
  margin-bottom: 200px;
}

.serviceImage img {
  width: 500px
}

.services h2 {
  font-size: 4rem;
  color: var(--color02);
  margin-bottom: 50px;
}

.service {
  display: flex;
  justify-content: center;
  align-content: center;
  /* height: min-content; */
  gap: 35px;
}

.serviceDescription {
  text-align: start;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.serviceDescription h3 {
  font-size: 2.4rem;
  color: var(--color02);
}

.serviceDescription p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color02);
}

.serviceDescription button {
  background-color: var(--color03);
  border: none;
  width: max-content;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--color01);
  border-radius: 12px;
  
}

.serviceRight {
  text-align: end;
  align-items: flex-end;
}

/* Services END */

/*  */

.seiLa {
  background-image: url("../../images/others/closeup-economist-using-calculator-while-going-through-bills-taxes-office\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 150px 0;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards2 {
  width: 100px;
  height: 100px;
  background-color: white;

}
/* END */


/* main END*/

/* footer */
footer {
  background-color: var(--color02);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  height: 300px;
}

.contentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--generalWidth);
  width: 100%;
}
/* footer END*/

/* MEDIA SCREEN */

/* 1440px */
@media screen and (max-width: 1440px) {
  :root {
    --generalWidth: 1440px;
  }
  
  .initialGreetings {
    padding-left: 50px;
  }
  
  .service{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 800px;
  }
}

/* 1024px */
@media screen and (max-width: 1024px) {
  :root {

  }
}



/* MENU TOGGLE */
/* 768px */
@media screen and (max-width: 768px) {
  :root {
    --generalWidth: 600px;
  }

  .greetingsSection {
    margin-top: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 10px;
  }
  
  .initialGreetings {
    padding-left: 0;
    width: 80%;
    scale: 0.9;
  }
  .initialGreetings p{
    width: 100%;
  }
  
  .greetingImg {
    width: 400px;
  }


  /* MENU TOGGLE */

  .menu {
    display: none;
  }

  .menuToggle {
    width: 37px;
    height: 37px;
    margin-right: 5%;
  }

  .one,
  .two,
  .three {
    background-color: var(--color02);
    height: 3px;
    width: 100%;
    margin: 9px auto;

    transition-duration: 0.35s;
  }

  /* Clicado */

  .menuSection.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #ffffff52;
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
    -o-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
  }

  .menuSection.on .menu {
    display: block;
    text-align: center;
    margin-bottom: 150px;
    transition-duration: 0.6s;
  }

  .menuSection.on .menu a {
    font-size: 2.5rem;
    display: block;
    margin-bottom: 5rem;
    transition: all 0.3s ease-in;
  }

  .menuSection.on .menuToggle {
    position: absolute;
    top: 15px;
    right: 0;
    margin-right: 5%;
  }

  .menuSection.on .menuToggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menuSection.on .menuToggle .two {
    opacity: 0;
  }

  .menuSection.on .menuToggle .three {
    transform: rotate(-45deg) translate(10px, -10px);
  }

}
/* MENU TOGGLE END*/
